<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Surat Tawaran</title>
</head>
<body>
    <p>
        <strong>{{ApplicantName}} ({{ApplicantRefNumber}})</strong><br>
        <strong>DHAHRAN 31261, KHOBAR, SAUDI ARABIA</strong><br>
        <strong>31261 KHOBAR</strong><br>
        <strong>EASTERN PROVINCE, SAUDI</strong>
    </p>
    <p>Dear Sir/Madam,</p><br>
    <p><strong>OFFER FOR POSTGRADUATE ADMISSION ACADEMIC SESSION 20172018(SEM. 1)</strong></p>
    <p>Congratulations! We are pleased to re-offer you a place in our postgraduate programme as stated below:</p>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>Faculty</td>
            <td><strong>Faculty Of Electrical Engineering</strong></td>
        </tr>
        <tr>
            <td>Programme</td>
            <td><strong>{{Programme}}</strong></td>
        </tr>
        <tr>
            <td>Field of Research</td>
            <td><strong>Electrical Engineering</strong></td>
        </tr>
        </tbody>
    </table>
</body>
</html>


